@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body {
    // background-image: url(../img/night-crop.jpg);
    background-size: cover;
    font-family: 'Red Hat Text', sans-serif;
}

.main {
    background-image: url(../img/night-crop.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    position: relative;
    .container {
        position: absolute;
        z-index: 1;
        width: 100%;
        @media (min-width: 992px) {
            width: 50%;
        }
        h2 {
            font-size: 2rem;
            letter-spacing: 8px;
            color: #E5CFE5;
        }
        .countdown {
            max-width: 100%;
            .container-day, .container-hours, .container-minutes, .container-second {
                // background-color: powderblue;
                padding: 5px;
                border-radius: 8px;
                width: 20%;
                h5 {
                    font-size: 0.9rem;
                    padding-top: 20px;
                    letter-spacing: 5px;
                    color: #F5F7B2;
                }
                h3 {
                    color: #F4F4F4;
                    font-size: 5rem;
                }
                .days, .hours, .minutes, .seconds {
                    margin: 8px 0px;
                }
            }
        }
    }
    .animation {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        z-index: 1;
        h1 {
            letter-spacing: 8px;
            color: #F5F5F5;
            text-shadow: 2px 2px 8px #FFFF;
            font-weight: 700;
            font-size: 5rem;
        }
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
        position: absolute;
        bottom: 0;
    }
}


@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(5);
    }
}